@charset "UTF-8";
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background-image: url("/src/img/espaco.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    overflow: hidden;
}

picture img{
    display: block;
    margin: auto;
    padding-top: 70px;
    max-width: 500px;
    min-width: 300px;
}